{% extends "layout.html" %}
{% block title %}Pistekooste{% endblock %}
{% block content %}

{% if error %}
{{ error }}

{% else %}
<ul>

{% if countries == [] %}
Et ole vielä pisteyttänyt yhtään kappaletta. 
{% else %}
{% for country in countries %}
<li> <b> {{ country[0] }} - {{ country [1] }} </b> <br>

{% for message in messages %}

{% if message[0] == country[0] %}
{{ message[1] }} <br>

{% if message[3] == "false" %}
Huom. ylläpitäjä on poistanut tämän viestin keskustelualueelta. <br>

{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

</ul>
{% endif %}
{% endif %}
{% endblock %}
